@tailwind base;
@tailwind components;
@tailwind utilities;

.card {
  width: 100%;
  padding: var(--quillar-space-4);
  border: 1px solid var(--quillar-colors-chakra-border-color);
  border-radius: var(--quillar-radii-lg);
  background: var(--quillar-colors-blackAlpha-100);
}
