<div vStack [spacing]="8" [align]="'stretch'">
  <div chakraComponent="SideNav.menu">
    <ng-container *ngFor="let item of menu">
      <a chakraComponent="SideNav.menuItem" [attr.aria-current]="activeItem?.routerLink === item.routerLink && 'page'" [routerLink]="item.routerLink">
        <div chakraComponent="SideNav.menuItemIcon">
          <chakra-icon [boxSize]="'4'" [name]="item.icon"></chakra-icon>
        </div>
        <span chakraComponent="SideNav.menuItemTitle">{{ item.title }}</span>
      </a>
    </ng-container>
  </div>
  <div *ngIf="activeItem" vStack [spacing]="6" [align]="'stretch'">
    <div *ngFor="let subItem of activeItem.subMenu" chakraComponent="SideNav.subMenu">
      <h6 chakraComponent="SideNav.subMenuTitle">
        {{ subItem.title }}
      </h6>
      <div chakraComponent="SideNav.subMenuContent">
        <ng-container *ngFor="let subSubItem of subItem.items">
          <a
            chakraComponent="SideNav.subMenuItem"
            *ngIf="subSubItem.routerLink"
            [attr.aria-current]="subSubItem.routerLink === activeRoute && 'page'"
            [routerLink]="subSubItem.routerLink"
            >{{ subSubItem.title }}</a
          >
        </ng-container>
      </div>
    </div>
  </div>
</div>
