<div chakraVStack [spacing]="4" [align]="'start'">
  <ng-container *ngFor="let item of items">
    <div chakraFlexColumn [gap]="4" [chakraStyles]="{ flex: 1 }">
      <div chakraHStack [spacing]="2">
        <chakra-icon *ngIf="item.icon" [name]="item.icon"></chakra-icon>
        <h3 chakraHeading [size]="'sm'">{{ item.title }}</h3>
      </div>
      <div *ngFor="let subItem of item.children || []" chakraVStack [spacing]="2" [align]="'start'">
        <h6 chakraHeading [size]="'xs'" [chakraStyles]="{ color: 'teal.500', _dark: { color: 'teal.200' }, textTransform: 'uppercase' }">{{ subItem.title }}</h6>
        <ng-container *ngFor="let subSubItem of subItem.children || []">
          <ng-container *ngIf="subSubItem.routerLink">
            <chakra-button [variant]="'link'" [size]="'sm'" [chakraStyles]="{ w: 'full', justifyContent: 'start' }">
              <a [routerLink]="subSubItem.routerLink">{{ subSubItem.title }}</a>
            </chakra-button>
          </ng-container>
        </ng-container>
      </div>
    </div>
  </ng-container>
</div>
